.app {
  text-align: center;
}

.search-section {
  margin-bottom: 24px;
}

.search-section input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #6c6c6c;
  border-radius: 4px;
  width: 200px;
  margin-right: 8px;
}

.search-section button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-section button:hover {
  background-color: #0056b3;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
